body
    {
        margin: 0;
        padding: 0;
    }


/* -----------------------------------------------------------------------------NAVIGATION-*/

nav 
    {   
        color: #fafafa;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(255, 0, 0, 0));
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        z-index: 1;
        padding: 20px 30px 50px;
        font-size: x-large;
    }

nav a
    {
        color: #fafafa;
        text-decoration: none;
    }

nav a:hover
    {
        text-decoration: underline;
    }

/* -----------------------------------------------------------------------------HERO IMAGE | BRANDING */

.hero-image
    {   
        background-image: url("../images/hero-image.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        background-color: #fafafa;
        height: 100vh;
    }

.hero-text
    {   
        position: relative;
        color: white;
        height: 100%;

    }

#hero-welcome-text
    {   
        position: absolute; 
        left:10%;
        top:70%;
        font-size: 5em;
    }

#hero-caption
    {
        position: absolute;
        right: 3%;
        bottom: 3%;
    }


/* -----------------------------------------------------------------------------SECTIONS-*/


section+p 
    {
        background-color: yellow;
    }

section h2
    {
        color: blue;
    }

.flavour-text
    {   
        text-align: justify;
        text-justify: inter-word;
        color: red;
    }



/* -----------------------------------------------------------------------------SCENERY-*/

.scenery
    {
        background-color: #fafafa;
    }

/* -----------------------------------------------------------------------------SCENERY-*/

.culture
    {
        background-color: #ececec;
    }

/* -----------------------------------------------------------------------------HISTORY-*/

.history
    {
        background-color: #fafafa;
    }

/* -----------------------------------------------------------------------------FOOTER-*/

footer
    {
        background-color: grey;
        color: #fafafa;
    }
 
footer a 
    {
        color: #fafafa;
        text-decoration: none;
    }