@import url('https://fonts.googleapis.com/css2?family=REM&family=Righteous&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'REM', sans-serif;
    font-weight: 200;

}

.row {
    --bs-gutter-x: 0;
}

/* -----------------------------------------------------------------------------NAVIGATION-*/

nav {
    font-family: "Righteous", sans-serif;
    color: #fafafa;
    background-image: linear-gradient(to bottom, rgb(43, 43, 43, 1), rgba(255, 0, 0, 0));
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1.5rem 3rem 2rem;
    z-index: 1;
}

nav a {
    color: #fafafa;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.nav-menu {
    padding-top: 20px;
    padding-bottom: 100vh;
}

.nav-x-menu {
    padding-left: 30px;
}

/* -----------------------------------------------------------------------------HERO IMAGE | BRANDING */

.hero-image {
    position: relative;
    background: url("../images/hero-image.webp") no-repeat center top;
    background-size: cover;
    background-color: #fafafa;
    height: 100vh;
    color: white;
}

.hero-text {
    font-family: "Righteous", sans-serif;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
    text-shadow: 0 0 1rem black;
}

.hero-text hr {
    border-top: 2px solid;
    opacity: 1;
}

/* -----------------------------------------------------------------------------SECTIONS-*/

body section:not(:first-of-type) {
    padding-bottom: 50px;
}

section h2 {
    color: #444444;
    padding-top: 100px;
}

.flavour-text {
    color: #444444;
    text-align: justify;
    padding-bottom: 25px;
}

/* -----------------------------------------------------------------------------SCENERY-*/

.scenery {
    background-color: #fafafa;
}

.carousel-item img {
    /*found online - see README for details (carousel image height)*/
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
    /*found online - see README for details (/carousel image height)*/
}

/* -----------------------------------------------------------------------------CULTURE-*/

.culture {
    background-color: #ececec;
}

.card-container {
    padding: 5px;
}

.card {
    color: #444444;
    --bs-card-spacer-y: 0.3rem;
    --bs-card-spacer-x: 0.3rem;
}

.card-img-top {
    object-fit: cover;
    height: 50%;
    overflow: hidden;
}

.card-body {
    height: 50%;
}

.card-title {
    margin: 0;
}

.card-text {
    text-align: justify;
    padding: 5px;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

/* -----------------------------------------------------------------------------HISTORY-*/

.history {
    background-color: #fafafa;
    color: #444444;
}

.timeline-text {
    width: 90%;
}

.timeline-line {
    border: 1px solid;
    opacity: 1;
    margin: 0.5em 0;
}

.timeline-icon {
    padding-left: 30px;
    padding-bottom: 20px;
    color: #444444;
    text-decoration: none;
    font-size: xx-large;
}

.right p {
    text-align: justify;
    padding-left: 20px;
}

.left p {
    text-align: justify;
    padding-right: 20px;
}

.timeline-tail {
    height: 30px;
}

.history-modal-button h1:hover {
    color: #2e2e2e;
}

.close {
    color: #fafafa;
    background-color: #444444;
    border: none;
}

/* -----------------------------------------------------------------------------FOOTER-*/

footer {
    background-color: grey;
    color: #fafafa;
    padding: 50px;
}

footer a {
    color: #fafafa;
    text-decoration: none;
}

.socials {
    text-align: center;
}

.socials i {
    padding: 5px 10px 5px 10px;
}

.resources h6 {
    font-size: larger;
    text-decoration: underline;
}

.resources a:hover {
    text-decoration: underline;
}

footer hr {
    border-top: 1px solid;
    opacity: 100;
}

.author {
    font-family: 'Courier New', Courier, monospace;
}

/* -----------------------------------------------------------------------------CONTACT-*/

.contact-hero-image {
    position: relative;
    background: url("../images/contact-hero-image.webp") no-repeat center center;
    background-size: cover;
    height: 50vh;
    color: white;
}

.contact-hero-image .hero-text {
    position: absolute;
    bottom: 50px;
}

.white-blend {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #fafafa, #ececec00);
}

.contact-form-container {
    padding: 50px 20px 50px 20px;
    background-color: #fafafa;
}

.contact-form-container h3 {
    text-align: center;
    padding-bottom: 20px;
}

#name,
#email,
#message {
    width: 250px;
}

/* -----------------------------------------------------------------------------MEDIA QUERIES-*/

@media(max-width: 400px) {
    .card-text {
        -webkit-line-clamp: 3;
    }
}

@media(max-width: 575.98px) {

    nav {
        padding: 15px 15px 20px;
    }

    nav i {
        font-size: xx-large;
    }

    .timeline .left,
    .timeline .right {
        padding-bottom: 20px;
        width: 95%;
        border-left: 2px solid;
    }

    .timeline-line {
        margin: 0.2em 0;
    }

    .right p,
    .left p {
        text-align: justify;
        padding-left: 20px;
        padding-right: 0;
    }

    .resources {
        padding-bottom: 20px;
        text-align: center;
    }
}

@media(min-width: 576px) {
    .timeline .left {
        border-right: 1px solid;
    }

    .timeline .right {

        border-left: 1px solid;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .card-text {
        -webkit-line-clamp: 3;
    }

}

@media (min-width: 992px) {
    .card-text {
        -webkit-line-clamp: 5;
    }
}