html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.row 
    {
        --bs-gutter-x: 0;
    }



/* -----------------------------------------------------------------------------NAVIGATION-*/

nav 
    {   
        color: #fafafa;
        background-image: linear-gradient(to bottom, rgb(43, 43, 43), rgba(255, 0, 0, 0));
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        z-index: 1;
        padding: 20px 30px 50px;
    }

nav a
    {
        color: #fafafa;
        text-decoration: none;
        padding-left: 20px;
    }

nav a:hover
    {
        text-decoration: underline;
    }

/* -----------------------------------------------------------------------------HERO IMAGE | BRANDING */

.hero-image
    {   
        position: relative;
        background: url("../images/hero-image.jpg") no-repeat center top;
        background-size: cover;
        background-color: #fafafa;
        height: 100vh;
        color: white;
    }

.hero-text
    {
        width: 100%;
        position: absolute;
        bottom: 0;
        left:0;
        padding: 50px;
    }

.hero-text hr
    {
        border-top: 2px solid;
        opacity: 1;
    }




/* -----------------------------------------------------------------------------SECTIONS-*/

body section:not(:first-of-type)
    {
        padding-bottom: 50px;
    }

section h2
    {   
        color: #444444;
        padding-top: 80px;
    }

.flavour-text
    {
        color: #444444;
        text-align: justify;
        padding-bottom: 25px;
    }



/* -----------------------------------------------------------------------------SCENERY-*/

.scenery
    {
        background-color: #fafafa;
    }



.carousel-item img
    {
/*found online - see README for details (carousel image height)*/       
        object-fit: cover;
            object-position: center;
            height: 50vh;
            overflow: hidden;
/*found online - see README for details (/carousel image height)*/
    }

/* -----------------------------------------------------------------------------CULTURE-*/

.culture
    {
        background-color: #ececec;
    }

.card
    {
        color:#444444;
        padding: 0;
        margin: 10px;
        --bs-card-spacer-y: 0.3rem;
        --bs-card-spacer-x: 0.3rem;
    }

.card-img-top
    {
        object-fit: cover;
        height: 50%;
    }



.card-body
    {
        height: 50%;
    }

/* -----------------------------------------------------------------------------HISTORY-*/

.history
    {
        background-color: #fafafa;
        color: #444444;
    }

.timeline-text
    {
        width:80%;
    }

.timeline-line 
    {
                    border: 1px solid;
                    opacity: 1;
                    margin: 0.5em 0;
                }

.timeline-icon
    {
        padding-left:30px;
        padding-bottom: 20px;
        color: #444444;
        text-decoration: none;
        font-size:xx-large;
    }

@media(min-width: 576px) 
    {
        .timeline .left 
        {
                        border-right: 1px solid;
                    }
                
                    .timeline .right {
                        border-left: 1px solid;
                    }
    }

@media(max-width: 575.98px) 
    {
        .timeline .left,
        .timeline .right
            {
            padding-bottom: 20px;
            width:80%;
            border-left: 2px solid;
            }
        .timeline-line
            {
            margin: 0.2em 0;
            }
    }

.history-modal-button h1:hover
    {
        color:#2e2e2e;
    }

.close
    {
        color: #fafafa;
        background-color: #444444;
        border: none;
    }

/* -----------------------------------------------------------------------------FOOTER-*/

footer
    {
        background-color: grey;
        color: #fafafa;
        padding: 50px;
    }
 
footer a 
    {
        color: #fafafa;
        text-decoration: none;
    }